<div class="auth carbonCustom" id="login">
    <div class="cds--row cds--no-gutter">
        <div class="cds--col-lg-5 cds--col-md-0 cds--col-sm-0">
            <div class="left-image">
                <img src="images/background.svg">
            </div>
        </div>
        <div class="cds--col-sm-12 cds--col-md-12 cds--col-lg-11 d-flex">
            <div class="content-box cds--col-md-5 cds--col-lg-8">
                <img src="images/Mexedia.svg">
                <h2 class="weight-700">Accedi tramite Mexedia</h2>
                <p class="subh3 text-color-grey weight-600">Inserisci le credenziali e accedi all’ecosistema Mexedia.
                </p>
                <form action="{{ui.action}}" method="{{ui.method}}">
                    <bx-form-item>
                        {{#each ui.nodes}}
                        {{#if (eq attributes.name "csrf_token")}}
                        {{> (toUiNodePartial .)}}
                        {{/if}}
                        {{#if (eq attributes.name "identifier")}}
                        <bx-input placeholder="Inserisci email" size="lg" color-scheme="" type="text" name="identifier"
                            required>
                            <span class="customText" slot="label-text">Email</span>
                        </bx-input>
                        {{/if}}
                        {{#if (eq attributes.name "password")}}
                        <bx-input placeholder="Inserisci password" size="lg" color-scheme="" type="password"
                            name="password" required>
                            <span class="customText" slot="label-text">Password</span>
                        </bx-input>
                        {{/if}}
                        {{#each messages}}
                        <span slot="validity-message">{{text}}</span>
                        {{/each}}
                        {{/each}}
                        {{#each ui.messages}}
                        <span slot="validity-message">{{text}}</span>
                        {{/each}}
                        {{!-- <bx-checkbox label-text="Ricordami per i prossimi accessi"></bx-checkbox> --}}

                        <bx-btn type="submit" name="method" value="password" class="mt-7" icon-layout> Accedi </bx-btn>
                        <bx-btn kind='ghost' href="{{ recoverUrl }}"> Hai dimenticato la password? </bx-btn>
                        <a href="mailto:support@mexedia.com">Contatta l'assistenza</a>
                    </bx-form-item>
                </form>
                <script>
                    window.onload = () => {
                        const form = document.querySelector("form")
                        const button = form.querySelector("[type=submit]")

                        const method = document.createElement("input")
                        method.setAttribute("type", "hidden")
                        if (button.getAttribute("name")) {
                            method.setAttribute("name", button.getAttribute("name"))
                            method.setAttribute("value", button.getAttribute("value"))
                        }
                        form.appendChild(method)

                        button.addEventListener("click", () => {
                            const formData = new FormData(form)
                            const event = new CustomEvent("formdata", {
                                bubbles: true,
                                cancelable: false,
                                composed: false,
                            })
                            event.formData = formData
                            form.dispatchEvent(event)
                            form.submit();
                        })

                        const passwordField = document.querySelector("[type=password]")
                        passwordField.addEventListener("keypress", function (event) {
                            if (event.key === "Enter") {
                                document.querySelector("[type=submit]").click()
                            }
                        })
                    }
                </script>
            </div>
        </div>
    </div>
</div>